section
{
  margin: 20px;
  background-color: bisque;
  align-content: center;
  font-family: sans-serif,Arial, Helvetica ;
  margin: 50px;
  border: orange solid 2px;
  padding: 20px;
  clear: both;
}
body{
  background-color: thistle;
}

 .intro{
   border: black solid 1px;
   margin-left: 20px;
 } 
  


h1:hover{
  color: rgb(6, 80, 80);

}
div{
  color: rgb(7, 17, 16);
}
h2{
  margin-top: 30px;
  color: chocolate;
}
h2:hover{
  color: rgb(152, 184, 11);
}
h3{
  color: coral;
}
h3:hover{
  color: black;
}
hr{
  border: rgb(13, 15, 12) solid 1px;
}
.edu{
  border: cadetblue dotted 0.5px;
}
a{
  text-decoration: none;
}
a:hover{
  color: violet;
}
img{
  display: inline;
  height: 150px;
  width: 150px;
  float: left;
}
#education{
  display: inline-block;
  border: darkgoldenrod solid 1px;
  float: left;
  background-color: cadetblue;
}
#education:hover{
  background-color: darkgreen;
}
#skills{
  border: darkgoldenrod solid 1px;
 display: inline-block;
  clear: both;
  width: 140px;
  margin-left: 25px;
  padding-bottom: 10px;
  background-color: cadetblue;
}
#skills:hover{
  background-color: darkgreen;
}
#projects{
  border: darkgoldenrod solid 1px;
  display: inline-block;
  clear: both;
  width: 330px;
  height: 150px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding-top: 10px ;
  background-color: cadetblue;
}
#projects:hover{
  background-color: darkgreen;
}
#certifications{
  border: darkgoldenrod solid 1px;
  display: inline-block;
  width: 500px;
  clear: both;
  margin-bottom: 10px;
  margin-left: 25px;
  background-color: cadetblue;
}
#certifications:hover{
  background-color: darkgreen;
}
#non_academics{
  border: darkgoldenrod solid 1px;
  display: inline-block;
  width: 500px;
  height: 130px;
  clear: both;
  margin-left: 25px;
  background-color: cadetblue;
}
#non_academics:hover{
  background-color: darkgreen;
}
#hobbies{
  display: inline-block;
  width: 35%;
  border: darkgoldenrod solid 1px;
  margin-top: 20px;
  float: left;
  background-color: cadetblue;
  padding-bottom: 40px;
}
#hobbies:hover{
  background-color: darkgreen;
}
#strengths{
  display: inline-block;
  clear: both;
  border: solid darkgoldenrod 1px;
  width: 35%;
  margin-top: 20px;
  margin-left: 25px;
  background-color: cadetblue;
}
#strengths:hover{
  background-color: darkgreen;
}
footer{
  border: black solid 1px;
  padding: 10px;
}
.reference{
  width: 25px;
  margin: 100px;
  padding: 30px;
}
.dec{
  margin-left: 90%;
}
